<html>
  <head>
    <title>IPL</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <div class="container-fluid">
      <h2 class="text-center display-4">IPL Dataset</h2>
    </div>
  </head>
  <body>
    <div class="container">
      <h3><%= season.season; %></h3>
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Matches</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Points</th>
        </tr>
        <% var count = 1; season.table.forEach(table => { %>
        <tr>
          <td>
            <%= count++ %>
          </td>
          <td>
            <%= table.team %>
          </td>

          <td>
            <%= table.matches %>
          </td>
          <td>
            <%= table.wins %>
          </td>
          <td>
            <%= table.losses %>
          </td>
          <td>
            <%= table.points %>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
